.exp-wrapper {
  overflow-x: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  background-color: #1a1818;
}

.vertical-timeline::before {
  top: 10px;
  background-color: #ece7e1;
}

.vertical-timeline {
  padding-top: 2em;
}

.vertical-timeline-element-subtitle{
    margin-top: 0.5em;
}

.exp-wrapper .exp-title {
  display: flex;
  justify-content: center;
  align-items: center;

}

.exp-wrapper .exp-title .title {
  font-family: "Karan_Font";
  letter-spacing: 2px;
  font-size: 80px;
  color: #ece7e1;
  padding-top: 80px;
  padding-bottom: 20px;

}

.exp-wrapper .exp-subtitle {
    padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exp-wrapper .exp-subtitle .subtitle{
    font-size: 30px;
    color: #fff2;
    font-family: 'Gilroy-light';
    letter-spacing: 2px;

}
.exp-wrapper h3 {
  padding-top: 0.25em;
}



.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgba(255, 255, 255, 1);
  font-family: "Gilroy-regular";
}

#description {
  margin: 1.5em 0 2em 0;
  font-family: "Gilroy-light";
}
.exp-wrapper .button {
  text-decoration: none;
  padding: 0.7em 1em;
  border-radius: 15px;
  color: #ece7e1;
  font-family: "Gilroy-light";
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  background-color: #ece7e1;
  border-radius: 20px;
}
.vertical-timeline-element-content-arrow {
  border-right-color: #ece7e1;
}

.workButton {
  background-color: #1a1818;
  color: #ece7e1;

}

.workButton:hover {
  background-color: #ece7e1;
  color: #1a1818;
}

.schoolButton {
  background-color: #ece7e1;
  color: #1a1818;
}

.schoolButton:hover {
  background-color: #1a1818;
  color: #ece7e1;
}

@media screen and (max-width:1170px) {
.vertical-timeline-element-content .vertical-timeline-element-date{
  color: #1a1818;
}
  
}
@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    margin-top: 1.5em;
  }
}

@media screen and (max-width : 900.99px){
  .exp-wrapper .exp-title .title{
    font-size: 60px;
  }
  .exp-wrapper .exp-subtitle .subtitle{
    font-size: 20px;
  }
}

@media screen and (max-width : 600.99px){
  .exp-wrapper .exp-title .title{
    font-size: 50px;
    text-align: center;
  }
}
@media screen and (max-width : 470.99px){
  .exp-wrapper .exp-title .title{
    /* font-size: 40px; */
    text-align: center;
  }
}


