@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
.hero-section {

  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.hero-content {
  position: relative;

}
.hero-bg-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 899;
  color: rgba(255, 255, 255);
 }

.hero-bg-content .hero-title {
  font-weight: 900;
  font-family: "Britanica-semi-expanded-thin";
  font-size: 11.5em;
  text-shadow: 3px 0px 7px rgba(255, 255, 255, 0.1),
    -3px 0px 7px rgba(255, 255, 255, 0.1), 0px 4px 7px rgba(255, 255, 255, 0.1);
}
.hero-bg-content .hero-title::before,
.hero-bg-content .hero-title::after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 405px;
  position: absolute;
  width: 400px;
  z-index: 2;
}
.hero-bg-content .hero-title::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.hero-bg-content .hero-description {
  position: absolute;
  top: 220px;
  right: 30px;
  /* bottom: 150px; */
  font-weight: 100;
  text-align: right;
  font-family: "Lato";
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 800;

}

.hero-bg-content .hero-description::before {
  content: "";
  border-top: 1px solid white;
  position: absolute;
  top: 35px;
  left: -130px;
  height: 200px;
  width: 80px; 
}



.hero-moving-text {
  position: absolute;
  top: 350px;
  left: 450px;
  font-family: "Karan_Font";
  font-weight: 900;
  z-index: 100;
  color: rgba(0,0,0,0.8);
  /* color: rgba(255, 255, 255, 0.09); */
  font-size: 13vw;
  transition: transform 2s ease;
  letter-spacing: 20px;
  white-space: nowrap;
  z-index: -1;
}

.hero-moving-text1 {
  position: absolute;
  top: 150px;
  left: 100px;
  font-family: "Karan_Font";
  /* color: rgba(255, 255, 255, 0.09); */
  color: rgba(0,0,0,0.8);
  letter-spacing: 20px;

  font-weight: 900;
  z-index: -1;
  font-size: 13vw;
  transition: transform 2s ease;
  white-space: nowrap;
  /* transform: rotate(90deg); */
}

/* hero-bg-image */
.hero-content .image{
  position: absolute;
  display: flex;
  /* left: 400px; */
  /* top: 150px; */
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content:center;
  filter: grayscale(50%);
  /* align-items: center; */
  z-index: 1;
}
.hero-content .image img{
  box-shadow: 30px 30px 300px rgba(0,0,0,0.9) inset;
  /* box-shadow: 0 3px 10px rgb(255 255 255 / 0.3) ; */
  position: absolute;
  width: 480px;
  height: 650px;
}
.hero-content .image3{
  position: absolute;
  /* display: flex; */
  left: 690px;
  top: 100px;
  width: 100%;
  height: 100vh;
  /* align-items: center; */
  /* justify-content:; */
  filter: grayscale(100%);
  /* align-items: center; */
  z-index: 1;
}
.hero-content .image3 img{
  box-shadow: 30px 30px 300px rgba(0,0,0,0.9) inset;
  /* box-shadow: 0 3px 10px rgb(255 255 255 / 0.3) ; */
  position: absolute;
  width: 250px;
  height: 350px;
}


.hero-content .image1{
  position: absolute;
  /* display: flex; */
  width: 100%;
  height: 100vh;
  top: 400px;
  /* top: 50%; */
  left: 40%;
  /* transform: translate(-50%); */
  /* align-items: center; */
  /* justify-content: center; */
  filter: grayscale(100%);
  /* align-items: center; */
  z-index: 3;
}
.hero-content .image1 img{
  box-shadow: 30px 30px 300px rgba(0,0,0,0.9) inset;
  /* box-shadow: 0 3px 10px rgb(255 255 255 / 0.3) ; */
  position: absolute;
  /* top: 10px; */
  width: 220px;
  height: 250px;
}
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 200px rgba(0,0,0,0.9) inset;
  z-index: 999;
}

.images{
  position: relative;
  width: 100%;
  height: 100vh;
  /* z-index: -1; */
  /* left: 5%; */
  /* width: fit-content; */
  /* height: fit-content; */
}

@media screen and (max-width: 1199.98px) {
  .hero-moving-text {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15vw;
  }
  
  .hero-moving-text1 {
    position: absolute;
    /* top: 10%; */
    top: 200px;
    left: 100px;
    transform: translate(-50%) ;
    font-size: 15vw;
  }
}
