.resume-wrapper{
    position: relative;
    top: 0;
    left: 0;
    /* max-width: 94%; */
    margin: 0 auto;
    background-color: #1a1818;
}

.resume-wrapper .resume-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.resume-title{
    max-width: 100%;
    margin: 0 auto;
}

.resume-content .resume-title span{
    font-size: 100px;
    font-family: 'Karan_Font';
    letter-spacing: 1px;
    color: #ece7e1;
}

.resume-content .resume-btn{
    max-width: 100%;
    margin: 0 auto;


}

.resume-btn button{
    border:1px solid #ece7e1;
    background: transparent;    
    font-family: 'Gilroy-regular';
    padding: 20px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 30px;
    font-size: 20px;
    color: #ece7e1;
    letter-spacing: 1px;
}

.resume-btn  button:hover{
    background-color: #1a1818;
    color: #ece7e1;
}

.resume .ImgWrapper{
    padding: 20px;
    /* width: 800px; */
    min-width: 800px;
    max-width: 800px;
}

.ImgWrapper img{
    width: 100%;

}

@media screen and (max-width:1198.99px) {
    .resume .ImgWrapper{
        min-width: inherit;
    }
    .resume-btn button{
        min-width: inherit;
    }
}

@media screen and (max-width:600.99px) {
    .resume-content .resume-title span{
        font-size: 80px;
    }
    .resume-btn button{
        font-size: 20px;
    }
}
@media screen and (max-width:400.99px) {
    .resume-content .resume-title span{
        font-size: 50px;
    }
    .resume-btn button{
        font-size: 15px;
        padding: 15px 15px;
    }
}