ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.item {
  list-style: none;
  position: relative;
  padding: 20px;
}

.item-title {
  position: relative;
  /* z-index: -1; */
  /* color: transparent; */
  /* -webkit-text-stroke: 0.01em white; */
  /* transition: -webkit-text-stroke 0.5s ease, color 0.5s ease; */
}

li.item:hover .item-title {
  -webkit-text-stroke: none;
  color: white;
  z-index: 1;
}

li.item:hover .item-title::after {
  opacity: 1;
  z-index: 3;
}

/* .item-title::after {
  content: attr(data-menu-item-text);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-text-stroke: 0.012em white;
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease;
} */








li.item img {
  position: absolute;
  width: 250px;
  /* height: 100px; */
  object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


@media screen and (max-width : 1198.99px) {
  
  li.item img{
    display: none;
  }
}